/* used for h1 fonts in header */
@import url('https://fonts.googleapis.com/css?family=Tangerine&Indie+Flower');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

img {
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
  max-width: 300px;
  border: 1px solid black;
  margin: 10px
}

body{
  background-image:  url("/beanstalk.png");
  background-repeat: repeat;
}

h2, h3, h4{
  font-family: 'Indie Flower', cursive;
}
